.footer_container {
  position: fixed;
  bottom: 0;
  height: 15px;
  background-color: #f5b919;
  width: 100%;
  z-index: 1000;
  text-align: center;
  font-size: 10px;
  vertical-align: middle;
  color: black;
}
