.header_container {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px solid #eef1f5;
  padding-bottom: 2px;
}

.logo_container {
  padding: 2px 45px;
  vertical-align: top;
  width: 230px;
  display: inline-block;
}

.title_container {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 10px;
}

.userdetails_container {
  display: inline-block;
}
