.sidebar {
  background: #ffffff none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 230px;
  z-index: 20;
  border-right: solid 1px #eef1f5;
  padding: 50px 0;
}

.sidebar ul {
  padding-inline-start: 10px;
}

.sidebar ul li {
  list-style: none;
  font-size: 1.2em;
  border-bottom: 1px solid #eef1f5;
  margin-bottom: 3px;
}
.sidebar ul li::before,
.sidebar ul li::after {
  box-sizing: border-box;
}
.sidebar ul li a {
  display: block;
  position: relative;
  line-height: 1.8;
  color: #495057;
}

.sidebar ul li span {
  vertical-align: middle !important;
  padding-left: 5px;
}

.sidebar ul li a::before {
  content: ' ';
  border: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1.1rem;
  right: 1.25rem;
  transition: all 0.2s ease-out;
}
